body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: green;
    text-align: left;
    padding:0.5em;
}

nav {
    background-color: green;
    padding: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.color{
    color: white;
}